<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .navbar-default {
  background-color: #395085;
  border-color: #2a3858;
}
.navbar-default .navbar-brand {
  color: #dcdcdc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #dcdcdc;
}
.navbar-default .navbar-nav > li > a {
  color: #dcdcdc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #395085;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #dcdcdc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #2a3858;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #2a3858;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #2a3858;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2a3858;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2a3858;
}
.navbar-default .navbar-toggle {
  border-color: #2a3858;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2a3858;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #dcdcdc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #dcdcdc;
}
.navbar-default .navbar-link {
  color: #dcdcdc;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.navbar-brand {
















	background-size: 1
^% auto;
	background-repeat: no-repeat;
	margin-right: 0px;
	background-clip: padding-box;
}
.container-fluid .row .col-lg-offset-1.col-lg-5 {
	margin-top: 5px;
}

@@media (max-width:649px){
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dcdcdc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2a3858;
  }
.navbar-toggle {
	color: #FFFFFF;
}

}

#mid_title {
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 10px; /* text-shadow: 2px 2px 4px #000 */;
}

#middle_wrapper {


	clear: both;


	padding: 40px 15px 0;
	overflow: hidden;
	font-size: 14px;
	color: #f4e9d9;
	background: url(/images/templatemo_middle.jpg) center top;


}

.col_allw300 {
	float: left;
}

.templatemo_text {
	color: #08122a;
	font-weight: normal;
	text-decoration: none;
}

.lower_specs {

	background-color: #BFC5CE;

}


.sb_news_box {
	clear: both;
	margin-bottom: 17px;
}
    </style>
</head>
<body>
    <header>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span>Menu <span class="glyphicon glyphicon-chevron-down"></span></button>
                    <a class="navbar-brand" href="about.html">Electrotech</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="defaultNavbar1">
                    <ul class="nav navbar-nav justify-content-center">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="industries.html">Industries</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Clinic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e99ba126e4.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>